
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

ul, ol {
  list-style: none;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.container {
  max-width: 1080px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  padding: 20px;
  border: 1px solid #BDBDBD;
  border-radius: 12px;
  color: #333;
  outline: none;
}

.form-control::placeholder {
  color: #828282;
}

.btn {
  border-radius: 12px;
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-primary {
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  background-color: #2F80ED;
  border: 1px solid #2F80ED;
  color: #FFF;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #FFF;
  color: #2F80ED;
}

.btn-danger {
  background-color: #EB5757;
  border: 1px solid #EB5757;
  color: #FFF;
  border-radius: 4px;
  font-weight: 600;
}

.btn-danger:hover {
  background-color: #FFF;
  color: #EB5757;
}

.btn--icon {
  display: flex;
  align-items: center;
}

.btn--icon span {
  padding-right: 5px;
}

/*Home*/
.home {
  max-width: 608px;
  margin-left: auto;
  margin-right: auto;
}

.home__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
}

/*Add Todo*/
.add-todo-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-todo-form-container__input {
  flex: 75%;
  max-width: 75%;
  display: block;
}

.add-todo-form-container__button {
  flex: 20%;
  max-width: 20%;
  display: block;
}

/*Tab Generator*/
.tab-header-container {
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 20px;
}

.tab-header-container ul {
  display: flex;
  justify-content: space-around;
}

.tab-header-container ul li.tab-header {
  padding: 15px 20px;
  text-align: center;
  flex: 25%;
  max-width: 25%;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

.tab-header-container ul li.tab-header::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -3px;
  left: 50%;
  width: 89px;
  height: 0;
  background: #2F80ED;
  border-radius: 4px 4px 0px 0px;
  transition: all 0.3s ease;
}

.tab-header-container ul li.tab-header.active::after {
  height: 4px;
}

.tab-content__footer {
  text-align: right;
}

.tab-content__footer button {
  margin-left: auto;
}

/*Todo*/
.todo-item {
  margin-bottom: 20px;
  font-weight: 500;
}

.todo-item.with-delete {
  display: flex;
  justify-content: space-between;
}

.todo-item.with-delete span {
  color: #BDBDBD;
}

.todo-item.completed .container-checkbox p {
  text-decoration: line-through;
}

/*Checkbox Custom*/
/* The container */
.container-checkbox {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
  border: 1px solid #828282;
box-sizing: border-box;
border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
  border: 1px solid #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .tab-header-container ul li.tab-header {
    font-size: 0.8rem;
    flex: 33%;
    max-width: 33%;
  }
}